@use 'src/styles/colors.module' as colors;

.wrapper {
  color: colors.$mainTestColor;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.name {
  font-weight: 700;
  font-size: 1.3em;
  margin-bottom: 4px;
}


.profession {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 16px;
}


.imgContainer {
  margin-bottom: 20px;
}


.aboutMeContainer {
  font-weight: 400;
  font-size: 0.7em;
}
