@use 'src/styles/colors.module' as colors;

$border: 1px solid colors.$mainTestColor;




.title {
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-top: $border;
  border-bottom: $border;
  font-size: 1.1em;

  .icon {
    margin-right: 10px;
  }
}
